* {
    margin: 0;
    padding: 0;
    }
    body{
        font-family: "Lato";
    }
.header {
   
margin-bottom: 65px;
    
}
.header-menu{
    background: #222222;
}
.container {
    width: 1140px;
    margin: 0 auto;
   
}
.header-box {
    display: flex;
    justify-content: space-between;
    height: 75px;
}
.header-l {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: block;
}
.header-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-l-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 111px;
}

.header-r-flex {
    
    justify-content: space-between;
   width: 169px;
}
.header-big-link {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


.button-menu-click {
    display: block;
    background: none;
    border: none;
    margin-top: 5px;
}
.burger-menu-link:hover{
    color: #F16D7F;
    
}
.burger-menu-link{
    text-decoration: none;
    font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;

}
.button-menu-click2{
    width: 100%;
    display: block;
    border: none;
    background: transparent;
    justify-content: right;
    text-align: right;
    padding-right: 16px;
    padding-top: 16px;
}
.menu-p {
    text-indent: 25px;
    margin-top: 11px;
}
.burger-menu-h3 {
    font-family: "Lato";
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-bottom: 4px;
}
.burger-menu-h3-red{
font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #F16D7F;
margin-top: 20px;
}

   
.dropdown {
   cursor: pointer;
    position: relative;
    
   
}

.last:hover .burger-menu{
    right: 0;
    left: auto;
}
.dropdown:hover .burger-menu {
    cursor: pointer;
    display: block;
    
} 
.burger-menu {
    display: none;
  position: absolute;
  border: 1px;
  width: 232px;
  height: 764px;
  background: #FFFFFF;
  list-style-type: none;
  text-decoration: none;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  .show {display: block;}
  padding-left: 33px;
}

.header-content-big {
    background: #F1E4E6;
    justify-content: space-between;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: unset;
    height: 764px;

}
.foto-big-man {
    margin-right: 60px;
}
.header-r-content {
    background: #F16D7F;
    width: 12px;

}
.header-r-content-text {
    display: block;
  
}

.header-joint-box {
   
    display: flex;
    justify-content: space-between;
    width: 405px;
    
}

.header-text-1 {
   font-size: 48px;
   font-family: 'Lato', sans-serif;
   font-weight: 900;
}
.header-text-2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 32px;
}


.info-box-box {
    display: flex;
    justify-content: space-between;
align-items: center;
}
.info-1-box {
  
    width: 360px;
    height: 260px;
    background-image: url(img/foto1.png);
    background-repeat: no-repeat;
  
   
}
.info-1-foto {
   
    width: 360px;
    height: 260px;
    background: rgba(33, 22, 22, 0.7);
   
}

.info-2-box {
    width: 360px;
    height: 260px;
    background-image: url(img/foto2.png);
    background-repeat: no-repeat;
}
.info-2-foto {
    width: 360px;
    height: 260px;
    background: rgba(33, 22, 22, 0.7);
   
}

.info-3-box {
    width: 360px;
    height: 260px;
    background-image: url(img/foto3.png);
    background-repeat: no-repeat;
}
.info-3-foto {
    align-items: center;
    width: 360px;
    height: 260px;
    background: rgba(33, 22, 22, 0.7);
  
}
.info-text {
    text-decoration: none;
   display: block;
    font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
text-align: center;
}
.info-text-p{
    display: block;
    text-align: center;
font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 24px;
text-decoration: none;
color: #F16D7F;
}
.info-4-box {
    margin-bottom: 96px;
    margin-top: 30px;
    height: 180px;
    background-image: url(img/foto4.png);
    background-repeat: no-repeat;
}
.info-4-foto {
    width: 100%;
    height: 180px;
    background: rgba(33, 22, 22, 0.7);
}

.text-info {
    padding-top: 105px;
    text-align: center;
 justify-content: center;
}
.text-info-4 {
    padding-top: 64px;
}
.content-h3 {
    font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #222222;
text-align: center;
}
.content-p {
text-align: center;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
margin-bottom: 48px;
}
/* карточки*/

 .product-item {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 420px;
 }
 .product-buttons {
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    height: 420px;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .3s ease-in-out;
 }
 .button {
     text-align: center;
    text-decoration: none;
    color:  #FFFFFF;;
    font-size: 12px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #FFFFFF;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
 }
 .button:before {
    content: " \f07a";
    font-family: FontAwesome;
   margin-right: 11px;
 }
 .product-item:hover .product-buttons {
    opacity: 1;
 }
 .product-item:hover .button {
    transform: translate(-50%, -50%) scale(1);
 }
 .button:hover {
    background: black;
 }
 .product-title {
    color: #5e5e5e;
    margin-left: 18px;
    margin-top: 25.23px;
    width: 314.74px;
 }
 .product-title a {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 600;
    display: block;
    position: relative;
    transition: .3s ease-in-out;
 }
 

 .product-price {
    font-family: "Lato";
font-size: 16px;
line-height: 19px;
color: #F16D7F;

 }
 .product-price-cart{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #F16D7F;
 }
 .cards-box{
     width: 360px;
     height: 581px;
     background-color: #F8F8F8;
     margin-bottom: 30px;
    
 }
 .product-title-p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12.65px;
    color: #5D5D5D;
   margin-bottom: 18px;
   
    height: 51px;
 }
 
 .product-title-a {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;  
    
    color: #000000;
 }
 .big-cards-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
 }
 .button-next-card{
     width: 211px;
     height: 47px;
    border: 1px solid #FF6A6A;
    background-color: transparent;
    margin-top: 18.5px;
    font-family: "Lato";
    font-size: 16px;
    line-height: 19px;
    color: #F26376;

 }
 .button-next-card:hover{
    background-color:#F16D7F;
    color: #FFFFFF;
 }
 .button-cards {
     display: flex;
     justify-content: center;
    
 }
 .footer-top {
     background-color: #222224;
     height: 341px;
     margin-top: 95.5px;
    
 }
 .footer-center {
    height: 448px;
    background-image: url(img/footerback1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222224;
 }
 
 .footer-bottom {
     height: 79px;
     background-color: #222224;
 }

.footer-top-info-card {
    width: 360px;
    text-align: center;
    
}
.footer-logo1 {
    margin-bottom: 28.07px;
}
.footer-logo2 {
    margin-bottom: 19.07px;
}
.footer-logo3 {
    margin-bottom: 25.07px;
}
.footer-link-info:hover{
    color: #F16D7F;
}
.footer-link-info {
 text-decoration: none;
    font-family: "Lato";
font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
}
.footer-top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.footer-info-p {
font-style: normal;
font-weight: 300;
font-size: 13.972px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
font-family: "Lato";
margin-top: 16px;
}
.footer-center-info-p {
    font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #222224;
margin-top: auto;
}
.footer-center-info{
    width: 359.45px;
    text-align: center;
   height: 225px;
   
}


.footer-center-info-big {
    display: flex;
    
    height: 100%;
    align-items: center;
}
.footer-img {
    margin-bottom: 12px;
}

.footer-center-form-info{
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    line-height: 167.2%;
    font-size: 24px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.footer-center-form-info-h5{
    font-weight: normal;
}
.footer-center-form-email {
    width: 256px;
    height: 49px;
    border: 1px #E1E1E1; ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #E1E1E1;
    text-align: left;
    padding-left: 22px;
  
}
.footer-center-form-button:hover{
    background: white;
    
}
.footer-center-form-button {
    width: 100px;
    height: 49px;
    background: #F16D7F;
    border: 1px #F16D7F;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

   
.footer-center-form-email.placeholder{
    font-family: "Lato";
    line-height: 17px;
font-size: 14px;
color: #222224;
opacity: 0.67;
}
.footer-center-form-button-p:hover{
    color: #F16D7F;
}
.footer-center-form-button-p{
    color: #FFFFFF;
    font-family: "Lato";
    font-size: 12px;  
    line-height: 17px;
    padding: 22px 22px;
}
.footer-center-form{
    margin-left: 225px;
}
.footer-bottom-big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.footer-bottom-box-text{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #FBFBFB;
}
.footer-box1 {
    display: flex;
    width:31.45px;
    height:32px;
    background: #FFFFFF;

}
.footer-box1:hover{
    background:  #F16D7F;
}
.fa {
    display: flex;
    width:31.45px;
    height:32px; 
    justify-content: center;
    align-items: center;
   
}
.fa:hover{
   
    color: white;
}
.footer-bottom-box2 {
    display: flex;
    width: 147.66px;
    height: 32px;
    justify-content: space-around;
}
.breadcrumb-big-box{
    background-color: #F8F3F4;
    height: 148px;
    margin-bottom: 51px;
}
.breadcrumb-box {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.breadcrumb-box-r-info{
    font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #F16D7F;
margin-bottom: 0;

}
.breadcrumb {
    font-family: "Lato";
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #F16D7F;
list-style-type: none;
text-decoration: none;
display: flex;
}
.breadcrumd-a {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
    display: flex; 
}
.filter-block-summary{
    list-style-type: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-top: 13px;
    padding-left: 16px;
}

.filter-block-details-block[open]{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.filter-block-summary::after{
 content: url(img/filter1.png);
 margin-left: 11px;
}
.filter-block-details-block{
    margin-left: 16px;
    width: 360px;
    background-color: white;
    
}
.filter-block-summary:hover{
    color: #EF5B70;
}
.filter-block-details-block[open] .filter-block-summary{
    color: #EF5B70; 
}
.filter-block-details-block:hover .filter-block-summary::after{
    content: url(img/filter2.png);
}
.filter-block-details-block[open] .filter-block-summary::after{
    content: url(img/filter2.png);
}
.filter-catalog-summary-info{
    list-style-type: none;
    display: flex;
   align-items: center;
   margin-top: 16px;
   font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
height: 34px;
}
.filter-catalog-summary-info::before {

    content: url(img/filtercatalg.png);
   margin-right: 11px;
}
.filter-catalog-summary-info:hover{
color:  #EF5B70;;
}
.filter-block-details-menu[open] .filter-catalog-summary-info{
    color:  #EF5B70;;
}
.filter-catalog-summary-info {
    border-bottom:  1px solid #EBEBEB;
    margin-left: 16px;
    margin-top: 13px;
    margin-right: 16px;
    margin-bottom: 17px;

}
.filter-catalog-summary-info-a{
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-left: 18px;
}
.filter-catalog-summary-info-ul{
    list-style-type: none;
 
}
.filter-catalog-summary-info-li:hover .filter-catalog-summary-info-a {
    color:  #EF5B70;;

}
.filter-catalog-summary-info-li{
    margin-left: 17px;
    margin-bottom: 11px;

}
.filter-catalog-summary-info-ul {
    margin-top: 24px;
    margin-bottom: 24px;
}

.filter-block-r{
    display: flex;

}
.filter-block-details-block{
    position: absolute;
   
}
.filter-block-l{
    position: relative;
    z-index: 1;
}
.filter-block{
    justify-content: center;
}
.filter-block-r-flex{
    position: relative;
    left: 34%;
    display: flex;
    align-items: center;
}
.content-box-top2-filter1{
    list-style-type: none;
    margin-top: 13px;
    margin-right: 27px;
    font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
}
.fa-angle-down{
    margin-left: 10px;
}
.content-box-top2-filter-info{
    position: absolute;
    z-index: 1;
    width: 79px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 5px;
    padding-bottom: 10px;
    left: 151px;

}
.input-checkbox{
    margin-left: 9.5px;
    margin-right: 9.5px;
    margin-top: 7px;

}
.label-checkbox{
font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #6F6E6E;
}
.big-cards-box-catalog{
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pagination-catalog{
  display: flex;  
justify-content: center;
margin-top: 18px;
  
}
.pagination-ul{
    list-style-type: none;
    display: flex;
    
}
.page-link{
    text-decoration: none;
    font-family: "Lato";
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
color: #EBEBEB;


}

    


.page-item:hover a.page-link{
    color: #EF5B70;
}
.page-item:hover .page-link span{
    color: #EF5B70;
}
.pagination-style{
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
   
   
}
.fa-angle-left{
    margin-left: 16px;
    margin-right: 0;
}
.fa-angle-right{
    margin-left: 0;
    margin-right: 16px;
}
.page-link span{
    color:  #000000;
    font-weight: bold;
}
.page-link-span {
    width: 100%;
}
.page-item {
    padding-left: 9px;
    padding-right: 9px;
}
.breadcrumb-big-box-product{
    background-color: #F8F3F4;
    height: 148px;
    
}
.carousel{
    height: 777px;
}
.w-100{
    width: auto!important;
    
}

.carousel-big {
    background-color: #f7f7f7;
}
.carousel-control-prev-icon{
    background-color:#2A2A2A
    ;
    width: 47px;
    height: 47px;
}
.carousel-control-next-icon{
    background-color:#2A2A2A
    ;
    width: 47px;
    height: 47px; 
}

.d-block{
    margin: auto;
}
.description-product{ 
  position: absolute;
  top: -61.41px;
   
}
.block-dp{
    width: 63px;
    background-color: #EF5B70;
    height: 
    3.03px;
  
}
.description-product-content{
    
    width: 
    1140px;
   text-align: center;
   border: 1px solid #EAEAEA;
   background-color: white;
}
.h4-product{
    margin: 0 auto;
    margin-top: 64.13px; 
font-family: "Lato";
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #F16D7F;
}
.h3-product{
    margin: 0 auto;
  margin-top: 12px;  
font-family: "Lato";
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;

color: #4D4D4D;
}
.p-product{
    margin: 0 auto;
    display: inline-block;
    width:
    555px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin-top: 48px;
}
.hr-product{
    margin: 0 auto;
    display: inline-block;
    margin-top: 65.04px;
    width: 641px;
    border: 1px solid #EAEAEA;
}
.dp-flex-filter {
    margin-top: 52.05px;
}
.cbtf-margin{
    margin-top: 0 auto;
}

.button-dp{
    text-align: center;
    width: 211px;
    height: 
    47.4px;
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    top: 50%;
    left: 50%;
   align-items: center;
   display: flex;
   justify-content: center;
}
.button-dp:before {
    content:" \f07a";
    font-family: "FontAwesome";
   margin-right: 11px;
 }
 .product-buttons-dp{ display: inline-block;
    border: 1px solid #FF6A6A; 
    width: 211px;
    height: 
    47.4px; 
    margin-top: 49px;
    margin-bottom: 65px;
    background-color: white;
    }
.product-buttons-dp:hover{
    background-color:#F26376;
}
.product-buttons-dp:hover .button-dp{
    color: white;
}

    

.product-price-dp{
    display: inline-block;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-top: 32.27px;
    color: #EF5B70;}
 .description-product-big{
     display: flex;
     justify-content: center;
     height: 100%;
     width: 100%;
     
 }
 .section-product{
    height: 536.46px;
    position: relative;
   margin-bottom: 129px;
 }
 .block-dp-big{
     width: 100%;
     height: 3.03px;
     display: flex;
     justify-content: center;
     margin-top: 12px;
 }
 .content-product{
 list-style-type: none;
    margin-right: 27px;
    font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
}
.margin-footer{
    margin-top: 98px;
}
.cart-img{
    display: flex;
    
    box-shadow: 10px 10px 11px 5px rgba(34, 60, 80, 0.2);
}
.description{
    display: flex;
    flex-direction: column;
}
.input-quantity{
    width: 43.19px;
    height: 24.12px;
    text-align: center;
    border: 1px solid #EAEAEA;
    margin-left: 24px;
}
.cart-img{
    width: 652px;
    height: 306px;
    margin-bottom: 40px;
}
.button-click-cart{

display: block;
border: none;
background: transparent;
justify-content: right;
}
.h4-cart{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-top: 22px;
    margin-bottom: 34px;
}
.total-price{
    font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;

color: #575757;
}
.cart-img-margin{
    margin-right: 31px;
}
.cart-right{
    width: 100%;
}
.cart-botton{
    margin-right: 22px;
    margin-top: 22px;
}

.description{
    font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;

color: #575757;

}
#marging-price{
    margin-bottom: 6px;
}
.h4-form{
 font-family: "Lato";
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
color: #222222;
margin-top: 17px;
margin-bottom: 20.5px;

}
.big-cart{
    display: flex;
}
.right-block-cart{
    width: 360px;
    margin-left: 128px;
}
.input-cart{
    width: 359px;
    height: 45px;
    margin-bottom: 21px!important;
    padding-left: 16.73px;
    border: 1px solid #A4A4A4;
    font-family: "Lato";
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 16px;
color: #222222;
}
.button-form-cart{
    width: 101.41px;
    height: 35px;
    font-family: "Lato";
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 13px;
color: #4A4A4A;
background-color: white;
border: 1px solid #A4A4A4;
}
.button-form-cart:hover {
    background-color:#A4A4A4 ;
    color: white;
}
.botton-check{
    width: 360px;
    height: 214px;
    background-color: #F5F3F3;
    margin-top: 57px;
    text-align: center;
    padding-top: 39px;

}
.total-p1{
    font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
color: #4A4A4A;
text-align: right;
margin-right: 34px;
margin-bottom:12px;
}
.span-total-p1{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-align: right;
    margin-left: 30px;
}
.total-p2{
    font-family: "Lato";
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
text-align: right;
color: #222222;
margin-right: 37px;
}
.span-total-p2{
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-left: 30px;
   
}
.hr-botton-check{
    border: 1px solid #E2E2E2;
    width: 275px;
    margin: 0 auto;
    display: inline-block;
 
}
.button-form-cart-check{
    width: 273px;
    height: 50px;
    background-color: #F16D7F;
    font-family: "Lato";
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
border: 1px solid #F16D7F ;
color: #FFFFFF;
margin-top: 17px;
}
.button-form-cart-check:hover{
    background-color: white;
    color:#F16D7F;
}
p {
    margin: 0 ;
}
.cart-botton-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button-form-cart-footer{
    width: 230px;
    height: 50px;
    background-color: white;
    font-family: "Lato";
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #000000;
border: 1px solid #A4A4A4;
margin-top: 32px;
}
.button-form-cart-footer:hover{
    background-color: gray;
    color: white;

}
