@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
}

.header {
  margin-bottom: 65px;
}

.header-menu {
  background: #222222;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
}

.header-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: block;
}

.header-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-l-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 111px;
}

.header-r-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 169px;
}

.header-big-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.button-menu-click {
  display: block;
  background: none;
  border: none;
  margin-top: 5px;
}

.burger-menu-link:hover {
  color: #F16D7F;
}

.burger-menu-link {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.button-menu-click2 {
  width: 100%;
  display: block;
  border: none;
  background: transparent;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: right;
  padding-right: 16px;
  padding-top: 16px;
}

.menu-p {
  text-indent: 25px;
  margin-top: 11px;
}

.burger-menu-h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 4px;
}

.burger-menu-h3-red {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 20px;
}

.dropdown {
  cursor: pointer;
  position: relative;
}

.last:hover .burger-menu {
  right: 0;
  left: auto;
}

.dropdown:hover .burger-menu {
  cursor: pointer;
  display: block;
}

.burger-menu {
  display: none;
  position: absolute;
  border: 1px;
  width: 232px;
  height: 764px;
  background: #FFFFFF;
  list-style-type: none;
  text-decoration: none;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-left: 33px;
}

.burger-menu .show {
  display: block;
}

.header-content-big {
  background: #F1E4E6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  height: 764px;
}

.foto-big-man {
  margin-right: 60px;
}

.header-r-content {
  background: #F16D7F;
  width: 12px;
}

.header-r-content-text {
  display: block;
}

.header-joint-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 405px;
}

.header-text-1 {
  font-size: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.header-text-2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 32px;
}

.info-box-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-1-box {
  width: 360px;
  height: 260px;
  background-image: url(img/foto1.png);
  background-repeat: no-repeat;
}

.info-1-foto {
  width: 360px;
  height: 260px;
  background: rgba(33, 22, 22, 0.7);
}

.info-2-box {
  width: 360px;
  height: 260px;
  background-image: url(img/foto2.png);
  background-repeat: no-repeat;
}

.info-2-foto {
  width: 360px;
  height: 260px;
  background: rgba(33, 22, 22, 0.7);
}

.info-3-box {
  width: 360px;
  height: 260px;
  background-image: url(img/foto3.png);
  background-repeat: no-repeat;
}

.info-3-foto {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 260px;
  background: rgba(33, 22, 22, 0.7);
}

.info-text {
  text-decoration: none;
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
}

.info-text-p {
  display: block;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-decoration: none;
  color: #F16D7F;
}

.info-4-box {
  margin-bottom: 96px;
  margin-top: 30px;
  height: 180px;
  background-image: url(img/foto4.png);
  background-repeat: no-repeat;
}

.info-4-foto {
  width: 100%;
  height: 180px;
  background: rgba(33, 22, 22, 0.7);
}

.text-info {
  padding-top: 105px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-info-4 {
  padding-top: 64px;
}

.content-h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.content-p {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

/* карточки*/
.product-item {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 420px;
}

.product-buttons {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 420px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.button {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #FFFFFF;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.button:before {
  content: " \f07a";
  font-family: FontAwesome;
  margin-right: 11px;
}

.product-item:hover .product-buttons {
  opacity: 1;
}

.product-item:hover .button {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.button:hover {
  background: black;
}

.product-title {
  color: #5e5e5e;
  margin-left: 18px;
  margin-top: 25.23px;
  width: 314.74px;
}

.product-title a {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: 600;
  display: block;
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.product-price {
  font-family: "Lato";
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.cards-box {
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
}

.product-title-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12.65px;
  color: #5D5D5D;
  margin-bottom: 18px;
  height: 51px;
}

.product-title-a {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.big-cards-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button-next-card {
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  background-color: transparent;
  margin-top: 18.5px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.button-next-card:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.button-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-top {
  background-color: #222224;
  height: 341px;
  margin-top: 95.5px;
}

.footer-center {
  height: 448px;
  background-image: url(img/footerback1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222224;
}

.footer-bottom {
  height: 79px;
  background-color: #222224;
}

.footer-top-info-card {
  width: 360px;
  text-align: center;
}

.footer-logo1 {
  margin-bottom: 28.07px;
}

.footer-logo2 {
  margin-bottom: 19.07px;
}

.footer-logo3 {
  margin-bottom: 25.07px;
}

.footer-link-info:hover {
  color: #F16D7F;
}

.footer-link-info {
  text-decoration: none;
  font-family: "Lato";
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer-top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer-info-p {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  font-family: "Lato";
  margin-top: 16px;
}

.footer-center-info-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: auto;
}

.footer-center-info {
  width: 359.45px;
  text-align: center;
  height: 225px;
}

.footer-center-info-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-img {
  margin-bottom: 12px;
}

.footer-center-form-info {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  line-height: 167.2%;
  font-size: 24px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.footer-center-form-info-h5 {
  font-weight: normal;
}

.footer-center-form-email {
  width: 256px;
  height: 49px;
  border: 1px #E1E1E1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #E1E1E1;
  text-align: left;
  padding-left: 22px;
}

.footer-center-form-button:hover {
  background: white;
}

.footer-center-form-button {
  width: 100px;
  height: 49px;
  background: #F16D7F;
  border: 1px #F16D7F;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer-center-form-email.placeholder {
  font-family: "Lato";
  line-height: 17px;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
}

.footer-center-form-button-p:hover {
  color: #F16D7F;
}

.footer-center-form-button-p {
  color: #FFFFFF;
  font-family: "Lato";
  font-size: 12px;
  line-height: 17px;
  padding: 22px 22px;
}

.footer-center-form {
  margin-left: 225px;
}

.footer-bottom-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer-bottom-box-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31.45px;
  height: 32px;
  background: #FFFFFF;
}

.footer-box1:hover {
  background: #F16D7F;
}

.fa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31.45px;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa:hover {
  color: white;
}

.footer-bottom-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 147.66px;
  height: 32px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */